lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig
*.bak
*.tmp
*.temp
*.swp

aws_config

pids
logs
results
tags

# node js
node_modules
npm-debug.log
.npmrc
package-lock.json

# IntelliJ resources
*.iml
*.ipr
*.iws
.idea

jspm_packages

# mac
.DS_Store

# development
tmp
.env
!/tests/integration/env-load/.env
.eslintcache
yarn.lock
default.etcd

.serverlessrc
.serverless

state.json
tracking-config.json
*.sample
/coverage

utilities
bak
Bak
Old
old

.build
.dynamodb
serverless-output
*.toml
